html,
body,
header,
.intro-section {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
  html,
  body,
  header,

  .intro-section {
    height: 470px;
    background-image: url("/assets/img/backgrounds/h_image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
  }

}

